// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// Disable Local Network Backdoor to Prevent Crash
cl_localnetworkbackdoor 0

// Increase total number of string commands to execute
sv_quota_stringcmdspersecond 512

// display the startup level
startupmenu